/* styles.css */

/* Global styles */
body {
  font-family: 'Roboto', sans-serif;
}

/* Component styles */
/* Todo component */
.todo {
  background-color: #f7fafc;
  border-radius: 0.375rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.todo h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
}

.todo p {
  font-size: 1rem;
  color: #4a5568;
}

/* Create and Update forms */
.form-container {
  margin: 0 auto;
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 5rem;
}

.form-container h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

.form-container input[type="text"],
.form-container input[type="checkbox"] {
  box-sizing: border-box;
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.375rem;
  border: 1px solid #cbd5e0;
}

.form-container input[type="checkbox"] {
  width: auto;
}

.form-container button {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.375rem;
  background-color: #68d391;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #48bb78;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.btn-update {
  padding: 0.75rem;
  border-radius: 0.375rem;
  background-color: #fca73f;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-update:hover {
  background-color: #f6993f;
}

.btn-delete {
  padding: 0.75rem;
  border-radius: 0.375rem;
  background-color: #ff2d2d;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-delete:hover {
  background-color: #e11d1d;
}

.btn-create {
  padding: 0.75rem;
  border-radius: 0.375rem;
  background-color: #68d391;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-create:hover {
  background-color: #48bb78;
}