/* styles.css */

/* Global styles */
body {
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* Component styles */
/* Todo component */
.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  border-bottom: 1px solid #ddd;
  height: fit-content;
  background-color: #fff;
  border-radius: 0;
  padding: 0 0 0.75rem 0;
}

.todo h1 {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

.todo .todo-action {
  display: flex;
  gap: 0.5rem;
  height: fit-content;
}

.strikethrough {
  text-decoration: line-through;
}


/* Create and Update forms */
.form-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 44px;
  margin: 0 auto;
  padding: 0;
  gap: 0;
}

.form-input h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: #6ad4dd;
}

.form-input input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-radius: 0.75rem 0 0 0.75rem;
  border: 2px solid #eee;
}

.form-input input[type="text"]:focus {
  outline: none;
}

.form-input .checkbox {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.form-input .checkbox input {
  margin: 0;
  width: auto;
}

.form-input .checkbox label {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

.form-input button {
  width: fit-content;
  height: 100%;
  padding: 0.75rem;
  border-radius: 0 0.75rem 0.75rem 0;
  border: 1px solid #eee;
  background-color: #6ad4dd;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-input button:hover {
  background-color: #62c3cb;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  height: 100%;
  margin: 0 auto;
  padding: 3rem 1rem;
  gap: 1rem;
}

.container .list {
  background-color: #fff;
  box-shadow: 0 0 6px 3px #eee;
  box-sizing: border-box;
  border-radius: 0.75rem;
  padding: 2rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.btn-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 0.75rem;
  border-radius: 2rem;
  font-size: 1rem;
  border: 1px solid #eee;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #eee;
  color: #ff2d2d;
}

.btn-delete:hover {
  background-color: #ddd;
}

.btn-delete svg {
  width: 1.25rem;
  height: 1.25rem;
}

.btn-create {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #6ad4dd;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  gap: 0.5rem;
  transition: background-color 0.3s ease;
}

.btn-create:hover {
  color: #62c3cb;
}

.btn-create svg {
  width: 2.5rem;
  height: 2.5rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #6ad4dd;
  margin: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 44px;
  margin: 0 auto;
  padding: 0;
  gap: 1rem;
}

.form-container input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border: none;
}

.form-container input[type="text"]:focus {
  outline: none;
}

.todo input [type="checkbox"] {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #ccd3d8;
  transition: background-color 0.3s;
}

.todo input [type="checkbox"]:checked::before {
  background-color: dodgerblue;
  box-shadow: none;
}

.form-container .checkbox input {
  margin: 0;
  width: auto;
}

.form-container .checkbox label {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

.form-container button {
  width: fit-content;
  height: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #eee;
  background-color: #6ad4dd;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #62c3cb;
}
